KeshWestEurope/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "KeshWestEurope"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/web')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Web2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Web3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshfunctions.azurewebsites.net/api/GetLargePayload?code=FiVnfFyI1mzPjycVEEV1X6ECHlqIX59uEfBZFkNjABv9sb1eAZV4Pw==",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat(activity('Web2').output, activity('Web3').output)",
								"type": "Expression"
							},
							"authentication": {
								"type": "Basic",
								"username": "pipeline().parameters.url",
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					},
					{
						"name": "Web2",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshfunctions.azurewebsites.net/api/GetLargePayload?code=FiVnfFyI1mzPjycVEEV1X6ECHlqIX59uEfBZFkNjABv9sb1eAZV4Pw==",
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "Web3",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshfunctions.azurewebsites.net/api/GetLargePayload?code=FiVnfFyI1mzPjycVEEV1X6ECHlqIX59uEfBZFkNjABv9sb1eAZV4Pw==",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "ClientCertificate",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "sarajCert"
								},
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					},
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(greater(activity('Web4').StatusCode,400),greater(activity('Web5').StatusCode,400))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@less(activity('Web1').StatusCode,400)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Web5",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": "https://www.shouldfail.com",
													"method": "GET",
													"headers": {}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Web4",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": "https://www.bing.com",
													"method": "GET",
													"headers": {}
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"parameters": {
					"url": {
						"type": "string",
						"defaultValue": "https://keshfunctiontest.azurewebsites.net/api/HttpTrigger1?code=Asvrb75j7VcHY8vVYNQvUSJauVmyCJab3AtAfxy2OptxlaLvf0boGA=="
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T19:38:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/webUserTenant')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SPN_Certificate",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshweb.azuredatalakestore.net/webhdfs/v1/WebApp?op=GETFILESTATUS",
							"method": "GET",
							"headers": {
								"content-Type": "application/json"
							},
							"body": "\"\"",
							"authentication": {
								"type": "ServicePrincipal",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "sarajCert"
								},
								"userTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
								"username": "880f97f2-183b-4cfc-a0e4-e9c5fd3c2090",
								"resource": "https://management.core.windows.net/"
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-01-29T01:06:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/webhookSPN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "~0rMCL._lDdMDRs2GVgXT4GGg.kjnM90i0",
				"activities": [
					{
						"name": "WebHook1",
						"type": "WebHook",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshtriggerfunctions.azurewebsites.net/api/HttpTrigger1?code=tnT1dgzFKvwti/Qi46kUFjwdqD7QRlGvha7ZoJC6EzbNIUN8dSG3IA==",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json",
								"Accept": "application/json"
							},
							"body": {
								"UserName": "AprilTripPin"
							},
							"disableCertValidation": true,
							"authentication": {
								"type": "ClientCertificate",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "functionCert"
								},
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-02-11T02:27:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "unique",
						"type": "nchar"
					},
					{
						"name": "firstcol",
						"type": "nchar"
					},
					{
						"name": "seccol",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HugeTable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "IFP_OON_Outreach_Template_vw.csv",
						"container": "adhocextractnew"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "CMD_test",
						"container": "adhocextract"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FlattenIssueCsvOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Testoutput",
						"container": "adhocextract"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sample.json",
						"container": "adhocextract"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"quizReport": {
							"type": "object",
							"properties": {
								"@version": {
									"type": "integer"
								},
								"@xmlns": {
									"type": "string"
								},
								"@xmlns:xsi": {
									"type": "string"
								},
								"@xsi:schemaLocation": {
									"type": "string"
								},
								"groups": {
									"type": "object",
									"properties": {
										"group": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"@answeredQuestions": {
														"type": "integer"
													},
													"@awardedPercent": {
														"type": "number"
													},
													"@awardedScore": {
														"type": "integer"
													},
													"@name": {
														"type": "string"
													},
													"@passingPercent": {
														"type": "integer"
													},
													"@passingScore": {
														"type": "integer"
													},
													"@totalQuestions": {
														"type": "integer"
													}
												}
											}
										}
									}
								},
								"questions": {
									"type": "object",
									"properties": {
										"matchingQuestion": {
											"type": "object",
											"properties": {
												"@awardedPoints": {
													"type": "integer"
												},
												"@evaluationEnabled": {
													"type": "boolean"
												},
												"@id": {
													"type": "string"
												},
												"@maxAttempts": {
													"type": "boolean"
												},
												"@maxPoints": {
													"type": "integer"
												},
												"@status": {
													"type": "string"
												},
												"@usedAttempts": {
													"type": "boolean"
												},
												"direction": {
													"type": "object",
													"properties": {
														"text": {
															"type": "string"
														}
													}
												},
												"feedback": {
													"type": "object",
													"properties": {
														"text": {
															"type": "string"
														}
													}
												},
												"matches": {
													"type": "object",
													"properties": {
														"match": {
															"type": "array",
															"items": {
																"type": "object",
																"properties": {
																	"@premiseIndex": {
																		"type": "integer"
																	},
																	"@responseIndex": {
																		"type": "integer"
																	}
																}
															}
														}
													}
												},
												"premises": {
													"type": "object",
													"properties": {
														"premise": {
															"type": "array",
															"items": {
																"type": "object",
																"properties": {
																	"text": {
																		"type": "string"
																	}
																}
															}
														}
													}
												},
												"responses": {
													"type": "object",
													"properties": {
														"response": {
															"type": "array",
															"items": {
																"type": "object",
																"properties": {
																	"text": {
																		"type": "string"
																	}
																}
															}
														}
													}
												},
												"userAnswer": {
													"type": "object",
													"properties": {
														"match": {
															"type": "array",
															"items": {
																"type": "object",
																"properties": {
																	"@premiseIndex": {
																		"type": "integer"
																	},
																	"@responseIndex": {
																		"type": "integer"
																	}
																}
															}
														}
													}
												}
											}
										},
										"multipleChoiceQuestion": {
											"type": "object",
											"properties": {
												"@awardedPoints": {
													"type": "boolean"
												},
												"@evaluationEnabled": {
													"type": "boolean"
												},
												"@id": {
													"type": "string"
												},
												"@maxAttempts": {
													"type": "boolean"
												},
												"@maxPoints": {
													"type": "integer"
												},
												"@status": {
													"type": "string"
												},
												"@usedAttempts": {
													"type": "boolean"
												},
												"answers": {
													"type": "object",
													"properties": {
														"@correctAnswerIndex": {
															"type": "integer"
														},
														"@userAnswerIndex": {
															"type": "boolean"
														},
														"answer": {
															"type": "array",
															"items": {
																"type": "object",
																"properties": {
																	"text": {
																		"type": "string"
																	}
																}
															}
														}
													}
												},
												"direction": {
													"type": "object",
													"properties": {
														"text": {
															"type": "string"
														}
													}
												},
												"feedback": {
													"type": "object",
													"properties": {
														"text": {
															"type": "string"
														}
													}
												}
											}
										},
										"multipleResponseQuestion": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"@awardedPoints": {
														"type": "boolean"
													},
													"@evaluationEnabled": {
														"type": "boolean"
													},
													"@id": {
														"type": "string"
													},
													"@maxAttempts": {
														"type": "boolean"
													},
													"@maxPoints": {
														"type": "integer"
													},
													"@status": {
														"type": "string"
													},
													"@usedAttempts": {
														"type": "boolean"
													},
													"answers": {
														"type": "object",
														"properties": {
															"answer": {
																"type": "array",
																"items": {
																	"type": "object",
																	"properties": {
																		"@correct": {
																			"type": "boolean"
																		},
																		"@selected": {
																			"type": "boolean"
																		},
																		"text": {
																			"type": "string"
																		}
																	}
																}
															}
														}
													},
													"direction": {
														"type": "object",
														"properties": {
															"text": {
																"type": "string"
															}
														}
													},
													"feedback": {
														"type": "object",
														"properties": {
															"text": {
																"type": "string"
															}
														}
													}
												}
											}
										},
										"trueFalseQuestion": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"@awardedPoints": {
														"type": "integer"
													},
													"@evaluationEnabled": {
														"type": "boolean"
													},
													"@id": {
														"type": "string"
													},
													"@maxAttempts": {
														"type": "boolean"
													},
													"@maxPoints": {
														"type": "integer"
													},
													"@status": {
														"type": "string"
													},
													"@usedAttempts": {
														"type": "boolean"
													},
													"answers": {
														"type": "object",
														"properties": {
															"@correctAnswerIndex": {
																"type": "boolean"
															},
															"@userAnswerIndex": {
																"type": "boolean"
															},
															"answer": {
																"type": "array",
																"items": {
																	"type": "object",
																	"properties": {
																		"text": {
																			"type": "boolean"
																		}
																	}
																}
															}
														}
													},
													"direction": {
														"type": "object",
														"properties": {
															"text": {
																"type": "string"
															}
														}
													},
													"feedback": {
														"type": "object",
														"properties": {
															"text": {
																"type": "string"
															}
														}
													}
												}
											}
										}
									}
								},
								"quizSettings": {
									"type": "object",
									"properties": {
										"@maxScore": {
											"type": "integer"
										},
										"@quizType": {
											"type": "string"
										},
										"@timeLimit": {
											"type": "boolean"
										},
										"passingPercent": {
											"type": "integer"
										},
										"@maxNormalizedScore": {
											"type": "integer"
										}
									}
								},
								"summary": {
									"type": "object",
									"properties": {
										"@passed": {
											"type": "boolean"
										},
										"@percent": {
											"type": "integer"
										},
										"@score": {
											"type": "integer"
										},
										"@time": {
											"type": "integer"
										},
										"variables": {
											"type": "object",
											"properties": {
												"variable": {
													"type": "object",
													"properties": {
														"@name": {
															"type": "string"
														},
														"@title": {
															"type": "string"
														},
														"@value": {
															"type": "string"
														}
													}
												}
											}
										}
									}
								}
							}
						},
						"SourceFilename": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sample.json",
						"container": "adhocextract"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"name": {
							"type": "string"
						},
						"age": {
							"type": "integer"
						},
						"addresses": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"street": {
										"type": "string"
									},
									"city": {
										"type": "string"
									},
									"type": {
										"type": "string"
									},
									"contact": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"number": {
													"type": "string"
												},
												"areaCode": {
													"type": "integer"
												}
											}
										}
									}
								}
							}
						},
						"friends": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									},
									"city": {
										"type": "string"
									},
									"contact": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"number": {
													"type": "string"
												},
												"areaCode": {
													"type": "integer"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "adhocextract"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SubscriptionProfile.parquet",
						"folderPath": "CDM",
						"container": "adhocextract"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "SubscriptionId",
						"type": "UTF8"
					},
					{
						"name": "SubscriptionCreatedDate",
						"type": "TIMESTAMP_MICROS"
					},
					{
						"name": "SubscriptionStartDate",
						"type": "TIMESTAMP_MICROS"
					},
					{
						"name": "SubscriptionStatusCurrent",
						"type": "UTF8"
					},
					{
						"name": "MCRecordCreatedDate",
						"type": "TIMESTAMP_MICROS"
					},
					{
						"name": "MCRecordUpdatedDate",
						"type": "TIMESTAMP_MICROS"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Testoutput",
						"container": "adhocextract"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "adhocextract"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/currentOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "adhocextract"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/first')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "first.json",
						"container": "adhocextract"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/jsonFileForCompare1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "20200815203937_LSGQ_oasis_PBARCMAS.json",
						"container": "adhocextract"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"ACCNUMBER": {
							"type": "string"
						},
						"SEQNUMBER": {
							"type": "integer"
						},
						"TRANSTYPE": {
							"type": "integer"
						},
						"CONSULTDATE": {
							"type": "string"
						},
						"ENTRYDATE": {
							"type": "string"
						},
						"BANKSLIPNUMBER": {
							"type": "integer"
						},
						"STATEMENTNUMBER": {
							"type": "integer"
						},
						"BATCHNUMBER": {
							"type": "integer"
						},
						"PATNUMBER": {
							"type": "string"
						},
						"PATIENTNAME": {
							"type": "string"
						},
						"THIRDPARTYNUMBER": {
							"type": "string"
						},
						"DESCRIPTION1": {
							"type": "string"
						},
						"DESCRIPTION2": {
							"type": "string"
						},
						"DESCRIPTION3": {
							"type": "string"
						},
						"DESCRIPTION4": {
							"type": "string"
						},
						"REFERENCE": {
							"type": "string"
						},
						"HICAPSREFERENCE": {
							"type": "string"
						},
						"HICAPSCLAIMNUMBER": {
							"type": "string"
						},
						"ITEMCODE": {
							"type": "string"
						},
						"SUBITEMCODE": {
							"type": "string"
						},
						"FREQUENCY": {
							"type": "number"
						},
						"DRAWERNAME": {
							"type": "string"
						},
						"BANK": {
							"type": "string"
						},
						"BRANCH": {
							"type": "string"
						},
						"CONSULTDRNUMBER": {
							"type": "integer"
						},
						"CONSULTDRNAME": {
							"type": "string"
						},
						"BILLDRNUMBER": {
							"type": "integer"
						},
						"PRINTDATE": {
							"type": "null"
						},
						"DELETEDATE": {
							"type": "string"
						},
						"DELETED": {
							"type": "integer"
						},
						"CANCELLED": {
							"type": "integer"
						},
						"PURGED": {
							"type": "integer"
						},
						"CANCELDATE": {
							"type": "null"
						},
						"BANKEDDATE": {
							"type": "null"
						},
						"BANKLOCNUMBER": {
							"type": "integer"
						},
						"BANKSTATUS": {
							"type": "string"
						},
						"COMMENT": {
							"type": "string"
						},
						"USERNUMBER": {
							"type": "integer"
						},
						"USERNAME": {
							"type": "string"
						},
						"USERTIME": {
							"type": "string"
						},
						"USERBRANCHNUMBER": {
							"type": "integer"
						},
						"SHOWINBANKING": {
							"type": "integer"
						},
						"LOCNO": {
							"type": "integer"
						},
						"TOPRINT": {
							"type": "integer"
						},
						"ONHOLD": {
							"type": "integer"
						},
						"AMOUNT": {
							"type": "number"
						},
						"PAID": {
							"type": "number"
						},
						"CHEQUES": {
							"type": "number"
						},
						"CASH": {
							"type": "number"
						},
						"CREDITCARD": {
							"type": "number"
						},
						"EFTPOS": {
							"type": "number"
						},
						"DIRECTDEBIT": {
							"type": "number"
						},
						"HICAPS": {
							"type": "number"
						},
						"OTHERAMOUNT": {
							"type": "number"
						},
						"THIRDPARTYAMOUNT": {
							"type": "number"
						},
						"GSTAMOUNT": {
							"type": "number"
						},
						"MARKEDAMOUNT": {
							"type": "number"
						},
						"GSTNUMBER": {
							"type": "integer"
						},
						"LABNUMBER": {
							"type": "integer"
						},
						"COLORNUMBER": {
							"type": "integer"
						},
						"STARTTIME": {
							"type": "string"
						},
						"ENDTIME": {
							"type": "string"
						},
						"MINUTES": {
							"type": "integer"
						},
						"STATEKEY": {
							"type": "string"
						},
						"THIRDPARTYPAYMENT": {
							"type": "integer"
						},
						"MARKEDWRITEOFF": {
							"type": "number"
						},
						"REPRINTFLAG": {
							"type": "integer"
						},
						"AUDITFLAG": {
							"type": "integer"
						},
						"RUNNUMBER": {
							"type": "integer"
						},
						"HICAPSFLAG": {
							"type": "integer"
						},
						"PURGEUSERNAME": {
							"type": "string"
						},
						"ENTRYUSERNAME": {
							"type": "string"
						},
						"PURGEDATE": {
							"type": "null"
						},
						"THIRDPARTYGSTAMOUNT": {
							"type": "number"
						},
						"NEWSLETTERCODE": {
							"type": "string"
						},
						"BANKTYPE": {
							"type": "integer"
						},
						"SOUNDNUMBER": {
							"type": "integer"
						},
						"ENTRYUSERTIME": {
							"type": "string"
						},
						"MEDCLAIMSFLAG": {
							"type": "integer"
						},
						"MEDCLAIMSKEY": {
							"type": "string"
						},
						"MEDCLAIMSEXCLUDE": {
							"type": "integer"
						},
						"MEDCLAIMSLINENUMBER": {
							"type": "integer"
						},
						"MEDCLAIMSREFNO": {
							"type": "integer"
						},
						"MEDCLAIMSGROUPNO": {
							"type": "integer"
						},
						"MEDCLAIMSSUBGROUPNO": {
							"type": "integer"
						},
						"DELETEUSERNAME": {
							"type": "string"
						},
						"DELETEBRANCHNUMBER": {
							"type": "integer"
						},
						"PROCESSFLAG": {
							"type": "integer"
						},
						"EASYCLAIMAMOUNT": {
							"type": "number"
						},
						"EASYCLAIMFLAG": {
							"type": "integer"
						},
						"MARKEDSNUMBER": {
							"type": "null"
						},
						"SHOWINLAB": {
							"type": "integer"
						},
						"SHOWINGST": {
							"type": "integer"
						},
						"DELETETIME": {
							"type": "string"
						},
						"SOEPAYFLAG": {
							"type": "integer"
						},
						"TRANSACTIONREFERENCE": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/jsonFileForCompare2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "20200929203935_LSGQ_oasis_PBARCMAS.json",
						"container": "adhocextract"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"ACCNUMBER": {
							"type": "string"
						},
						"SEQNUMBER": {
							"type": "integer"
						},
						"TRANSTYPE": {
							"type": "integer"
						},
						"CONSULTDATE": {
							"type": "string"
						},
						"ENTRYDATE": {
							"type": "string"
						},
						"BANKSLIPNUMBER": {
							"type": "integer"
						},
						"STATEMENTNUMBER": {
							"type": "integer"
						},
						"BATCHNUMBER": {
							"type": "integer"
						},
						"PATNUMBER": {
							"type": "string"
						},
						"PATIENTNAME": {
							"type": "string"
						},
						"THIRDPARTYNUMBER": {
							"type": "string"
						},
						"DESCRIPTION1": {
							"type": "string"
						},
						"DESCRIPTION2": {
							"type": "string"
						},
						"DESCRIPTION3": {
							"type": "string"
						},
						"DESCRIPTION4": {
							"type": "string"
						},
						"REFERENCE": {
							"type": "string"
						},
						"HICAPSREFERENCE": {
							"type": "string"
						},
						"HICAPSCLAIMNUMBER": {
							"type": "string"
						},
						"ITEMCODE": {
							"type": "string"
						},
						"SUBITEMCODE": {
							"type": "string"
						},
						"FREQUENCY": {
							"type": "number"
						},
						"DRAWERNAME": {
							"type": "string"
						},
						"BANK": {
							"type": "string"
						},
						"BRANCH": {
							"type": "string"
						},
						"CONSULTDRNUMBER": {
							"type": "integer"
						},
						"CONSULTDRNAME": {
							"type": "string"
						},
						"BILLDRNUMBER": {
							"type": "integer"
						},
						"PRINTDATE": {
							"type": "null"
						},
						"DELETEDATE": {
							"type": "string"
						},
						"DELETED": {
							"type": "integer"
						},
						"CANCELLED": {
							"type": "integer"
						},
						"PURGED": {
							"type": "integer"
						},
						"CANCELDATE": {
							"type": "null"
						},
						"BANKEDDATE": {
							"type": "null"
						},
						"BANKLOCNUMBER": {
							"type": "integer"
						},
						"BANKSTATUS": {
							"type": "string"
						},
						"COMMENT": {
							"type": "string"
						},
						"USERNUMBER": {
							"type": "integer"
						},
						"USERNAME": {
							"type": "string"
						},
						"USERTIME": {
							"type": "string"
						},
						"USERBRANCHNUMBER": {
							"type": "integer"
						},
						"SHOWINBANKING": {
							"type": "integer"
						},
						"LOCNO": {
							"type": "integer"
						},
						"TOPRINT": {
							"type": "integer"
						},
						"ONHOLD": {
							"type": "integer"
						},
						"AMOUNT": {
							"type": "number"
						},
						"PAID": {
							"type": "number"
						},
						"CHEQUES": {
							"type": "number"
						},
						"CASH": {
							"type": "number"
						},
						"CREDITCARD": {
							"type": "number"
						},
						"EFTPOS": {
							"type": "number"
						},
						"DIRECTDEBIT": {
							"type": "number"
						},
						"HICAPS": {
							"type": "number"
						},
						"OTHERAMOUNT": {
							"type": "number"
						},
						"THIRDPARTYAMOUNT": {
							"type": "number"
						},
						"GSTAMOUNT": {
							"type": "number"
						},
						"MARKEDAMOUNT": {
							"type": "number"
						},
						"GSTNUMBER": {
							"type": "integer"
						},
						"LABNUMBER": {
							"type": "integer"
						},
						"COLORNUMBER": {
							"type": "integer"
						},
						"STARTTIME": {
							"type": "string"
						},
						"ENDTIME": {
							"type": "string"
						},
						"MINUTES": {
							"type": "integer"
						},
						"STATEKEY": {
							"type": "string"
						},
						"THIRDPARTYPAYMENT": {
							"type": "integer"
						},
						"MARKEDWRITEOFF": {
							"type": "number"
						},
						"REPRINTFLAG": {
							"type": "integer"
						},
						"AUDITFLAG": {
							"type": "integer"
						},
						"RUNNUMBER": {
							"type": "integer"
						},
						"HICAPSFLAG": {
							"type": "integer"
						},
						"PURGEUSERNAME": {
							"type": "string"
						},
						"ENTRYUSERNAME": {
							"type": "string"
						},
						"PURGEDATE": {
							"type": "null"
						},
						"THIRDPARTYGSTAMOUNT": {
							"type": "number"
						},
						"NEWSLETTERCODE": {
							"type": "string"
						},
						"BANKTYPE": {
							"type": "integer"
						},
						"SOUNDNUMBER": {
							"type": "integer"
						},
						"ENTRYUSERTIME": {
							"type": "string"
						},
						"MEDCLAIMSFLAG": {
							"type": "integer"
						},
						"MEDCLAIMSKEY": {
							"type": "string"
						},
						"MEDCLAIMSEXCLUDE": {
							"type": "integer"
						},
						"MEDCLAIMSLINENUMBER": {
							"type": "integer"
						},
						"MEDCLAIMSREFNO": {
							"type": "integer"
						},
						"MEDCLAIMSGROUPNO": {
							"type": "integer"
						},
						"MEDCLAIMSSUBGROUPNO": {
							"type": "integer"
						},
						"DELETEUSERNAME": {
							"type": "string"
						},
						"DELETEBRANCHNUMBER": {
							"type": "integer"
						},
						"PROCESSFLAG": {
							"type": "integer"
						},
						"EASYCLAIMAMOUNT": {
							"type": "number"
						},
						"EASYCLAIMFLAG": {
							"type": "integer"
						},
						"MARKEDSNUMBER": {
							"type": "null"
						},
						"SHOWINLAB": {
							"type": "integer"
						},
						"SHOWINGST": {
							"type": "integer"
						},
						"DELETETIME": {
							"type": "string"
						},
						"SOEPAYFLAG": {
							"type": "integer"
						},
						"TRANSACTIONREFERENCE": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/psi101002_20201119_2225')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "adhocextract"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"storeId": {
							"type": "string"
						},
						"dob": {
							"type": "string"
						},
						"marker": {
							"type": "integer"
						},
						"moreDataImmediatelyAvailable": {
							"type": "boolean"
						},
						"link": {
							"type": "string"
						},
						"checks": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"items": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"responsibleEmployeeId": {
													"type": "string"
												},
												"categories": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"name": {
																"type": "string"
															},
															"type": {
																"type": "string"
															}
														}
													}
												},
												"netAmount": {
													"type": "number"
												},
												"orderMode": {
													"type": "object",
													"properties": {
														"id": {
															"type": "string"
														},
														"label": {
															"type": "string"
														}
													}
												},
												"period": {
													"type": "object",
													"properties": {
														"id": {
															"type": "string"
														},
														"label": {
															"type": "string"
														}
													}
												},
												"originalPrice": {
													"type": "number"
												},
												"quantity": {
													"type": "number"
												},
												"seat": {
													"type": "integer"
												},
												"revenue": {
													"type": "boolean"
												},
												"processedInKitchen": {
													"type": "boolean"
												},
												"giftCard": {
													"type": "boolean"
												},
												"id": {
													"type": "string"
												},
												"typeId": {
													"type": "string"
												},
												"label": {
													"type": "string"
												},
												"amount": {
													"type": "number"
												},
												"createdOn": {
													"type": "string"
												},
												"responsibleEmployees": {
													"type": "object",
													"properties": {
														"employee": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																}
															}
														}
													}
												}
											}
										}
									},
									"responsibleEmployees": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"shiftId": {
													"type": "integer"
												},
												"isTippableEmployee": {
													"type": "boolean"
												},
												"roleId": {
													"type": "string"
												},
												"roleName": {
													"type": "string"
												},
												"id": {
													"type": "string"
												},
												"name": {
													"type": "string"
												},
												"time": {
													"type": "string"
												}
											}
										}
									},
									"terminalId": {
										"type": "string"
									},
									"grossAmount": {
										"type": "number"
									},
									"grandAmount": {
										"type": "number"
									},
									"id": {
										"type": "string"
									},
									"printedCheckId": {
										"type": "string"
									},
									"netAmount": {
										"type": "number"
									},
									"total": {
										"type": "number"
									},
									"isRefund": {
										"type": "boolean"
									},
									"training": {
										"type": "boolean"
									},
									"closed": {
										"type": "boolean"
									},
									"groupInfo": {
										"type": "object",
										"properties": {
											"id": {
												"type": "string"
											},
											"label": {
												"type": "string"
											}
										}
									},
									"guestCounting": {
										"type": "object",
										"properties": {
											"guests": {
												"type": "number"
											},
											"mode": {
												"type": "string"
											}
										}
									},
									"revenueCenter": {
										"type": "object",
										"properties": {
											"id": {
												"type": "string"
											},
											"label": {
												"type": "string"
											}
										}
									},
									"period": {
										"type": "object",
										"properties": {
											"id": {
												"type": "string"
											},
											"label": {
												"type": "string"
											}
										}
									},
									"comps": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"type": {
													"type": "string"
												},
												"note": {
													"type": "string"
												},
												"linkedItems": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"amount": {
																"type": "number"
															}
														}
													}
												},
												"id": {
													"type": "string"
												},
												"typeId": {
													"type": "string"
												},
												"label": {
													"type": "string"
												},
												"amount": {
													"type": "number"
												},
												"createdOn": {
													"type": "string"
												},
												"responsibleEmployees": {
													"type": "object",
													"properties": {
														"employee": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																}
															}
														}
													}
												}
											}
										}
									},
									"surcharges": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"rate": {
													"type": "number"
												},
												"type": {
													"type": "string"
												},
												"accounting": {
													"type": "string"
												},
												"linkedItems": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"taxableSales": {
													"type": "number"
												},
												"id": {
													"type": "string"
												},
												"typeId": {
													"type": "string"
												},
												"label": {
													"type": "string"
												},
												"amount": {
													"type": "number"
												},
												"createdOn": {
													"type": "string"
												}
											}
										}
									},
									"payments": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"tip": {
													"type": "number"
												},
												"type": {
													"type": "string"
												},
												"card": {
													"type": "string"
												},
												"id": {
													"type": "string"
												},
												"typeId": {
													"type": "string"
												},
												"label": {
													"type": "string"
												},
												"amount": {
													"type": "number"
												},
												"createdOn": {
													"type": "string"
												},
												"responsibleEmployees": {
													"type": "object",
													"properties": {
														"employee": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																}
															}
														}
													}
												}
											}
										}
									},
									"events": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"time": {
													"type": "string"
												},
												"type": {
													"type": "string"
												}
											}
										}
									},
									"isTaxExemptApplied": {
										"type": "boolean"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}