KeshWestEurope/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "KeshWestEurope"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureDatabricks7_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks7'"
		},
		"ADLSGen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://keshgen2.dfs.core.windows.net"
		},
		"AzureBlobStorage2_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://keshgen2.blob.core.windows.net"
		},
		"AzureBlobStorage3_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://keshgen2.blob.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/keshAML')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Machine Learning Execute Pipeline1",
						"type": "AzureMLExecutePipeline",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"experimentName": "test",
							"mlPipelineParameters": {
								"param_batch_size": 5,
								"param_sleep_seconds": 60,
								"param_should_throw": "false"
							},
							"mlPipelineId": "b91ecfe6-f614-4c1a-a7f8-7df5aa9e41ad"
						},
						"linkedServiceName": {
							"referenceName": "AzureMLService1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-02-07T08:52:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/keshAMLTestForDataPath')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Machine Learning Execute Pipeline1",
						"type": "AzureMLExecutePipeline",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"experimentName": "test",
							"mlPipelineParameters": {
								"param_batch_size": {
									"param_should_throw": "false"
								},
								"param_sleep_seconds": 60,
								"param_should_throw": "false"
							},
							"mlPipelineId": "b91ecfe6-f614-4c1a-a7f8-7df5aa9e41ad"
						},
						"linkedServiceName": {
							"referenceName": "AzureMLService1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-04T06:48:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://www.bing.com",
							"connectVia": {
								"referenceName": "integrationRuntimeWestEurope",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"disableCertValidation": {
								"value": "@and(true, true)",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "WebHook1",
						"type": "WebHook",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"url": "https://www.bing.com",
							"method": "POST",
							"headers": {},
							"body": {
								"": ""
							},
							"timeout": "00:10:00",
							"reportStatusOnCallBack": {
								"value": "@and(true, true)",
								"type": "Expression"
							},
							"disableCertValidation": {
								"value": "@and(true, true)",
								"type": "Expression"
							},
							"authentication": {
								"type": "ClientCertificate",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "fdsfds"
								},
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "sdfds"
								}
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-04T06:48:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline11')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SPN_Certificate",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshweb.azuredatalakestore.net/webhdfs/v1/WebApp?op=GETFILESTATUS",
							"method": "DELETE",
							"headers": {
								"content-Type": "application/json"
							},
							"body": "\"\"",
							"authentication": {
								"type": "ServicePrincipal",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "sarajCert"
								},
								"userTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
								"username": "880f97f2-183b-4cfc-a0e4-e9c5fd3c2090",
								"resource": "https://management.core.windows.net/"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://www.bing.com",
							"method": "POST",
							"headers": {},
							"body": {
								"gf": "hgfhf"
							},
							"authentication": {
								"type": "Basic",
								"username": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "sdfsd"
								}
							}
						}
					},
					{
						"name": "WebHook1",
						"type": "WebHook",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"url": "https://www.bing.com",
							"method": "POST",
							"headers": {},
							"body": {
								"gf": "hgfhf"
							},
							"timeout": "00:10:00",
							"authentication": {
								"type": "ClientCertificate",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "fdfdsfd"
								},
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-04T06:48:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "Accepted",
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunction1",
							"type": "LinkedServiceReference"
						},
						"authentication": {
							"type": "Msi"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-04T06:48:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/python')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Python1",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "/Users/kesharma@microsoft.com/pythonTest",
							"parameters": []
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"csvFileName": {
						"type": "string",
						"defaultValue": "SharePoint_UserDetails_2020-12-15.csv"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-07T08:53:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/testWeb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "a",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@variables('NotificationServiceURI')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"x-ms-date": {
									"value": "@utcnow('r')",
									"type": "Expression"
								},
								"x-ms-version": "2019-07-07"
							},
							"body": {
								"value": "<QueueMessage>  \n    <MessageText>@{pipeline().parameters.messageData}</MessageText>  \n</QueueMessage>",
								"type": "Expression"
							},
							"authentication": {
								"type": "ServicePrincipal",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "secname"
								},
								"userTenant": {
									"value": "@{variables('NotificationServiceTenantID')}",
									"type": "Expression"
								},
								"username": "Expression",
								"resource": "https://storage.azure.com/"
							}
						}
					}
				],
				"parameters": {
					"notificationQueueName": {
						"type": "string"
					},
					"messageData": {
						"type": "string"
					},
					"notificationQueueAccountUri": {
						"type": "string"
					},
					"odosInstanceId": {
						"type": "string"
					}
				},
				"variables": {
					"NotificationServiceTenantId": {
						"type": "String",
						"defaultValue": "72f988bf-86f1-41af-91ab-2d7cd011db47"
					},
					"NotificationServiceClientId": {
						"type": "String",
						"defaultValue": "@{pipeline().globalParameters.ODOSAppId}"
					},
					"NotificationServiceResource": {
						"type": "String",
						"defaultValue": "https://storage.azure.com/"
					},
					"NotificationServiceUri": {
						"type": "String",
						"defaultValue": "@{pipeline().parameters.notificationQueueAccountUri}@{pipeline().parameters.notificationQueueName}/messages"
					}
				},
				"folder": {
					"name": "notification-pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-02T01:59:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/web')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Web2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Web3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshfunctions.azurewebsites.net/api/GetLargePayload?code=FiVnfFyI1mzPjycVEEV1X6ECHlqIX59uEfBZFkNjABv9sb1eAZV4Pw==",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat(activity('Web2').output, activity('Web3').output)",
								"type": "Expression"
							},
							"authentication": {
								"type": "Basic",
								"username": "pipeline().parameters.url",
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					},
					{
						"name": "Web2",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshfunctions.azurewebsites.net/api/GetLargePayload?code=FiVnfFyI1mzPjycVEEV1X6ECHlqIX59uEfBZFkNjABv9sb1eAZV4Pw==",
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "Web3",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshfunctions.azurewebsites.net/api/GetLargePayload?code=FiVnfFyI1mzPjycVEEV1X6ECHlqIX59uEfBZFkNjABv9sb1eAZV4Pw==",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "ClientCertificate",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "sarajCert"
								},
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					},
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(greater(activity('Web4').StatusCode,400),greater(activity('Web5').StatusCode,400))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@less(activity('Web1').StatusCode,400)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Web5",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": "https://www.shouldfail.com",
													"method": "GET",
													"headers": {}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Web4",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": "https://www.bing.com",
													"method": "GET",
													"headers": {}
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"parameters": {
					"url": {
						"type": "string",
						"defaultValue": "https://keshfunctiontest.azurewebsites.net/api/HttpTrigger1?code=Asvrb75j7VcHY8vVYNQvUSJauVmyCJab3AtAfxy2OptxlaLvf0boGA=="
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T19:38:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/webUserTenant')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SPN_Certificate",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshweb.azuredatalakestore.net/webhdfs/v1/WebApp?op=GETFILESTATUS",
							"method": "GET",
							"headers": {
								"content-Type": "application/json"
							},
							"body": "\"\"",
							"authentication": {
								"type": "ServicePrincipal",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "sarajCert"
								},
								"userTenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
								"username": "880f97f2-183b-4cfc-a0e4-e9c5fd3c2090",
								"resource": "https://management.core.windows.net/"
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-01-29T01:06:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/webhookSPN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "~0rMCL._lDdMDRs2GVgXT4GGg.kjnM90i0",
				"activities": [
					{
						"name": "WebHook1",
						"type": "WebHook",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshtriggerfunctions.azurewebsites.net/api/HttpTrigger1?code=tnT1dgzFKvwti/Qi46kUFjwdqD7QRlGvha7ZoJC6EzbNIUN8dSG3IA==",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json",
								"Accept": "application/json"
							},
							"body": {
								"UserName": "AprilTripPin"
							},
							"disableCertValidation": true,
							"authentication": {
								"type": "ClientCertificate",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "functionCert"
								},
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-04T06:48:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "unique",
						"type": "nchar"
					},
					{
						"name": "firstcol",
						"type": "nchar"
					},
					{
						"name": "seccol",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HugeTable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSGen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLSGen2_properties_typeProperties_url')]",
					"credential": {
						"referenceName": "credential1",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('AzureBlobStorage2_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2",
					"credential": {
						"referenceName": "credential1",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('AzureBlobStorage3_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2",
					"credential": {
						"referenceName": "credential1",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks7')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"name": {
						"type": "String",
						"defaultValue": "geetha"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-8909143117346346.6.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks7_accessToken')]"
					},
					"newClusterNodeType": "Standard_D3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterSparkConf": {
						"key": {
							"value": "@linkedService().name",
							"type": "Expression"
						},
						"key2": "trl"
					},
					"newClusterSparkEnvVars": {
						"re": "re",
						"typ": {
							"value": "@linkedService().name",
							"type": "Expression"
						}
					},
					"newClusterCustomTags": {
						"CarExcel": {
							"value": "@linkedService().name",
							"type": "Expression"
						}
					},
					"newClusterVersion": "6.4.x-scala2.11",
					"newClusterLogDestination": "@linkedService().name",
					"newClusterInitScripts": [
						{
							"value": "@linkedService().name",
							"type": "Expression"
						},
						"mano",
						"telemetry",
						{
							"value": "paul",
							"type": "Expression"
						}
					],
					"newClusterDriverNodeType": "yes"
				},
				"connectVia": {
					"referenceName": "SelfHosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		}
	]
}