pipeline/WebFunctionSPN.json
{
	"name": "WebFunctionSPN",
	"properties": {
		"description": "function secret: 3nAPd5.QYUwjit4~w7v47W-jXtDbLz0_-W",
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keshfunctions.azurewebsites.net/api/HttpTrigger1?code=key",
					"method": "POST",
					"body": [
						{
							"stSubArray": [
								{
									"Id": 456,
									"2ndSubArray": [
										{
											"Id": "abc",
											"Descript": "text",
											"3rdSubArray": [
												{
													"Id": "def",
													"morefields": "text"
												},
												{
													"Id": "ghi",
													"morefields": "sample"
												}
											]
										}
									]
								}
							]
						}
					]
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keshfunctions.azurewebsites.net/api/HttpTrigger1?code=key",
					"method": "POST",
					"body": {
						"value": "@activity('Web1').output.stSubArray",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-05-04T06:48:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}