KeshWestEurope/PartialArmTemplates/ArmTemplate_5_3_2021_23_49_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "KeshWestEurope"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AML')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Machine Learning Execute Pipeline1",
						"type": "AzureMLExecutePipeline",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"experimentName": "newTestFromKWE",
							"mlPipelineParameters": {
								"param_batch_size": 5,
								"param_sleep_seconds": 60,
								"param_should_throw": "false"
							},
							"mlPipelineId": "97e8fa30-1851-4d64-aa5d-67699788fa91",
							"dataPathAssignments": {
								"input_datapath": {
									"DataStoreName": "workspaceblobstore2"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureMLService1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-02-07T08:53:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMLService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WebCallPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WebHook1",
						"type": "WebHook",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/1e42591f-1f0c-4c5a-b7f2-a268f6105ec5/resourceGroups/keshADF_test/providers/Microsoft.DataFactory/factories/keshADFTutorialDataFactory/pipelines/web/createRun?api-version=2018-07-01-preview",
							"method": "POST",
							"body": {
								"notneeded": "not"
							},
							"timeout": "00:10:00",
							"reportStatusOnCallBack": true,
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-02-19T02:14:59Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WebFunctionSPN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "function secret: 3nAPd5.QYUwjit4~w7v47W-jXtDbLz0_-W",
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshfunctions.azurewebsites.net/api/HttpTrigger1?code=key",
							"method": "POST",
							"body": [
								{
									"stSubArray": [
										{
											"Id": 456,
											"2ndSubArray": [
												{
													"Id": "abc",
													"Descript": "text",
													"3rdSubArray": [
														{
															"Id": "def",
															"morefields": "text"
														},
														{
															"Id": "ghi",
															"morefields": "sample"
														}
													]
												}
											]
										}
									]
								}
							]
						}
					},
					{
						"name": "Web2",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshfunctions.azurewebsites.net/api/HttpTrigger1?code=key",
							"method": "POST",
							"body": {
								"value": "@activity('Web1').output.stSubArray",
								"type": "Expression"
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-02-11T00:58:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/databricks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/kesharma@microsoft.com/pythonNotebook"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks2",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-01-30T01:12:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/keshAMLTestForDataPath')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Machine Learning Execute Pipeline1",
						"type": "AzureMLExecutePipeline",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"experimentName": "test",
							"mlPipelineParameters": {
								"param_batch_size": {
									"param_should_throw": "false"
								},
								"param_sleep_seconds": 60,
								"param_should_throw": "false"
							},
							"mlPipelineId": "b91ecfe6-f614-4c1a-a7f8-7df5aa9e41ad"
						},
						"linkedServiceName": {
							"referenceName": "AzureMLService1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-01-30T02:06:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMLService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://www.bing.com",
							"connectVia": {
								"referenceName": "integrationRuntimeWestEurope",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"disableCertValidation": {
								"value": "@and(true, true)",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "WebHook1",
						"type": "WebHook",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"url": "https://www.bing.com",
							"method": "POST",
							"body": {
								"": ""
							},
							"timeout": "00:10:00",
							"reportStatusOnCallBack": {
								"value": "@and(true, true)",
								"type": "Expression"
							},
							"disableCertValidation": {
								"value": "@and(true, true)",
								"type": "Expression"
							},
							"authentication": {
								"type": "ClientCertificate",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "fdsfds"
								},
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "sdfds"
								}
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-02-21T23:29:29Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://www.bing.com",
							"method": "POST",
							"body": {
								"gf": "hgfhf"
							},
							"authentication": {
								"type": "Basic",
								"username": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "sdfsd"
								}
							}
						}
					},
					{
						"name": "WebHook1",
						"type": "WebHook",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"url": "https://www.bing.com",
							"method": "POST",
							"body": {
								"gf": "hgfhf"
							},
							"timeout": "00:10:00",
							"authentication": {
								"type": "ClientCertificate",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "fdfdsfd"
								},
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-02-26T23:24:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://www.google.com",
							"method": "GET",
							"authentication": {
								"type": "ServicePrincipal",
								"userTenant": "f686d426-8d16-42db-81b7-ab578e110ccd",
								"username": "bgrhrgf",
								"resource": "bjihkjnkjnkjn",
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "Accepted",
							"method": "GET"
						},
						"linkedServiceName": {
							"referenceName": "AzureFunction1",
							"type": "LinkedServiceReference"
						},
						"authentication": {
							"type": "Msi"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunction1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline6')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshtriggerfunctions.azurewebsites.net/api/HttpTrigger1?code=tnT1dgzFKvwti/Qi46kUFjwdqD7QRlGvha7ZoJC6EzbNIUN8dSG3IA==",
							"method": "GET",
							"authentication": {
								"type": "MSI",
								"resource": "https://keshtriggerfunctions.azurewebsites.net"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline7')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshpythonfunctions.azurewebsites.net/api/GetPost?code=27o91T2TwJAJe1F5EeU9YkmHXYv0v66bjsSzY3yqYNJrxqdWQg/O2w==",
							"method": "GET",
							"authentication": {
								"type": "MSI",
								"resource": "76c3bf5c-3e41-48c9-89c5-d219fefec085"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/webReturnOnSubmit')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ReturnOnSubmit",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshfunctions.azurewebsites.net/api/Accepted?code=u4weE2Zz52qyLSdhVZrYMvSX5KaGrsDCWtSto4pVePtvtEBaVpDr0g==",
							"method": "GET",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							},
							"ReturnOnSubmit": true
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-02-07T19:52:19Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/webhookSPN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "~0rMCL._lDdMDRs2GVgXT4GGg.kjnM90i0",
				"activities": [
					{
						"name": "WebHook1",
						"type": "WebHook",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"url": "https://keshtriggerfunctions.azurewebsites.net/api/HttpTrigger1?code=tnT1dgzFKvwti/Qi46kUFjwdqD7QRlGvha7ZoJC6EzbNIUN8dSG3IA==",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json",
								"Accept": "application/json"
							},
							"body": {
								"UserName": "AprilTripPin"
							},
							"disableCertValidation": true,
							"authentication": {
								"type": "ClientCertificate",
								"pfx": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "functionCert"
								},
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-02-11T02:27:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://kesh.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://keshgen2.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "https://management.core.windows.net/\nhttps://login.microsoftonline.com/<tenantid>/oauth2/token\njob-3-run-1\nx6rm6~~96~srv~m0x_~SS23PH.QU7_wli3\naccess token: dapi16711286f53bcbaa3753acdc23f0bfcb\ncluster node type: Standard_DS3_v2\nspark version: 2.4.3\ncluster ID: 0920-185412-happy305",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-860887232373193.13.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/1e42591f-1f0c-4c5a-b7f2-a268f6105ec5/resourceGroups/keshADF_test/providers/Microsoft.Databricks/workspaces/keshWorkSpace",
					"newClusterNodeType": "Standard_NC12",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "5.5.x-gpu-scala2.11",
					"newClusterInitScripts": [],
					"enableLocalDiskEncryption": true
				},
				"connectVia": {
					"referenceName": "SelfHosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-860887232373193.13.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/1e42591f-1f0c-4c5a-b7f2-a268f6105ec5/resourceGroups/keshADF_test/providers/Microsoft.Databricks/workspaces/keshWorkSpace",
					"newClusterNodeType": "Standard_NC12",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "5.5.x-gpu-ml-scala2.11",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks7')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"name": {
						"type": "String",
						"defaultValue": "geetha"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-8909143117346346.6.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "**********"
					},
					"newClusterNodeType": "Standard_D3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterSparkConf": {
						"key": {
							"value": "@linkedService().name",
							"type": "Expression"
						},
						"key2": "trl"
					},
					"newClusterSparkEnvVars": {
						"re": "re",
						"typ": {
							"value": "@linkedService().name",
							"type": "Expression"
						}
					},
					"newClusterCustomTags": {
						"CarExcel": {
							"value": "@linkedService().name",
							"type": "Expression"
						}
					},
					"newClusterVersion": "6.4.x-scala2.11",
					"newClusterLogDestination": "@linkedService().name",
					"newClusterInitScripts": [
						{
							"value": "@linkedService().name",
							"type": "Expression"
						},
						"mano",
						"telemetry",
						{
							"value": "paul",
							"type": "Expression"
						}
					],
					"newClusterDriverNodeType": "yes"
				},
				"connectVia": {
					"referenceName": "SelfHosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksMSI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "dapia8ac9c9f6e5971fa3c5047f0c5ada9b9",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-860887232373193.13.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/1e42591f-1f0c-4c5a-b7f2-a268f6105ec5/resourceGroups/keshADF_test/providers/Microsoft.Databricks/workspaces/keshWorkSpace",
					"newClusterNodeType": "Standard_NC12",
					"newClusterNumOfWorker": "2:4",
					"newClusterSparkEnvVars": {
						"": {
							"value": "nlklk",
							"type": "Expression"
						}
					},
					"newClusterVersion": "5.5.x-gpu-scala2.11",
					"newClusterInitScripts": [
						""
					]
				},
				"connectVia": {
					"referenceName": "SelfHosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "https://keshfunctions.azurewebsites.net",
					"functionKey": {
						"type": "SecureString",
						"value": "**********"
					},
					"authentication": "MSI",
					"audience": "https://keshfunctions.azurewebsites.net"
				},
				"connectVia": {
					"referenceName": "SelfHosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMLService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "59EjmHpWVTLeKSHittHv1RmNzcjA2yrDqU8g7A+PKIs=",
				"annotations": [],
				"type": "AzureMLService",
				"typeProperties": {
					"subscriptionId": "1e42591f-1f0c-4c5a-b7f2-a268f6105ec5",
					"resourceGroupName": "lijzhaFactory",
					"mlWorkspaceName": "lijzhaMLV2",
					"servicePrincipalId": "fe273844-c808-40b8-ad85-94a46f737731",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "**********"
					},
					"tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://keshfunctiontest.azurewebsites.net/api/logBody?code=ipcpyr1I5ouhakACX5CnwmNJvCweiS2lPcnKyTalYkpZyLeQiRq7CA==",
					"enableServerCertificateValidation": true,
					"authenticationType": "AadServicePrincipal",
					"servicePrincipalId": "dsaddsadsadsada",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "**********"
					},
					"tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
					"aadResourceId": "asdsadsadsadas"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfdataflowtestgen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://adfdataflowtestgen2.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cdmdemotest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://cdmdemotest.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kesh')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://kesh.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/keshFunctionsTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "https://keshfunctiontest.azurewebsites.net",
					"functionKey": {
						"type": "SecureString",
						"value": "**********"
					}
				},
				"connectVia": {
					"referenceName": "SelfHosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsightOnDemand",
				"typeProperties": {
					"clusterType": "hadoop",
					"clusterSize": 4,
					"timeToLive": "00:15:00",
					"version": "4.0",
					"hostSubscriptionId": "1e42591f-1f0c-4c5a-b7f2-a268f6105ec5",
					"clusterResourceGroup": "keshADF_test",
					"servicePrincipalId": "fe273844-c808-40b8-ad85-94a46f737731",
					"tenant": "72f988bf-86f1-41af-91ab-2d7cd011db47",
					"clusterNamePrefix": "",
					"clusterPassword": {
						"type": "SecureString",
						"value": "**********"
					},
					"clusterSshPassword": {
						"type": "SecureString",
						"value": "**********"
					},
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "**********"
					},
					"additionalLinkedServiceNames": [
						{
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						}
					],
					"hcatalogLinkedServiceName": {
						"referenceName": "AzureSqlDatabase1",
						"type": "LinkedServiceReference"
					},
					"linkedServiceName": {
						"referenceName": "AzureBlobStorage1",
						"type": "LinkedServiceReference"
					},
					"headNodeSize": "",
					"dataNodeSize": "",
					"zookeeperNodeSize": "",
					"subnetName": "",
					"virtualNetworkId": ""
				},
				"connectVia": {
					"referenceName": "SelfHosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDM_load_issue')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureDataLakeStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DelimitedText2",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\tId as string,\n\t\tSinkCreatedOn as timestamp,\n\t\tSinkModifiedOn as timestamp,\n\t\tstatecode as long,\n\t\tstatuscode as long,\n\t\tmsft_entrywindowinterval as long,\n\t\tmodifiedonbehalfby as string,\n\t\tmodifiedonbehalfby_entitytype as string,\n\t\tmsft_addresscountryid as string,\n\t\tmsft_addresscountryid_entitytype as string,\n\t\towninguser as string,\n\t\towninguser_entitytype as string,\n\t\tcreatedonbehalfby as string,\n\t\tcreatedonbehalfby_entitytype as string,\n\t\towningbusinessunit as string,\n\t\towningbusinessunit_entitytype as string,\n\t\towningteam as string,\n\t\towningteam_entitytype as string,\n\t\tmodifiedby as string,\n\t\tmodifiedby_entitytype as string,\n\t\tcreatedby as string,\n\t\tcreatedby_entitytype as string,\n\t\tmsft_addressstateprovinceid as string,\n\t\tmsft_addressstateprovinceid_entitytype as string,\n\t\tmsft_facilitytypeid as string,\n\t\tmsft_facilitytypeid_entitytype as string,\n\t\tmsft_facilitygroupid as string,\n\t\tmsft_facilitygroupid_entitytype as string,\n\t\tmsft_reopenphaseid as string,\n\t\tmsft_reopenphaseid_entitytype as string,\n\t\townerid as string,\n\t\townerid_entitytype as string,\n\t\tcreatedonbehalfbyyominame as string,\n\t\tmsft_facilitygroupidname as string,\n\t\towneridname as string,\n\t\tcreatedon as timestamp,\n\t\toverriddencreatedon as timestamp,\n\t\tmsft_addresslatitude as string,\n\t\tmsft_addressstreet2 as string,\n\t\tstageid as string,\n\t\timportsequencenumber as long,\n\t\tmodifiedbyyominame as string,\n\t\tmsft_addressstreet1 as string,\n\t\tmsft_facilitynumber as string,\n\t\tutcconversiontimezonecode as long,\n\t\tcreatedbyyominame as string,\n\t\tmsft_facilityid as string,\n\t\tmodifiedbyname as string,\n\t\ttimezoneruleversionnumber as long,\n\t\ttraversedpath as string,\n\t\tmsft_addresscountryidname as string,\n\t\towneridtype as string,\n\t\tmsft_addresslongitude as string,\n\t\tprocessid as string,\n\t\tmsft_addresscountry as string,\n\t\towneridyominame as string,\n\t\tmodifiedon as timestamp,\n\t\tmsft_addressstateprovince as string,\n\t\tmsft_description as string,\n\t\tmodifiedonbehalfbyyominame as string,\n\t\tcreatedbyname as string,\n\t\tmsft_reopenphaseidname as string,\n\t\tmsft_addressstateprovinceidname as string,\n\t\tcreatedonbehalfbyname as string,\n\t\tmsft_facilitytypeidname as string,\n\t\tmsft_addresspostalcode as string,\n\t\tmodifiedonbehalfbyname as string,\n\t\tmsft_addresscity as string,\n\t\tversionnumber as long,\n\t\tmsft_name as string,\n\t\trts_entitytype as long,\n\t\trts_ld as string,\n\t\trts_campuscode as string,\n\t\trts_physicalcos as string,\n\t\trts_boe as string,\n\t\trts_sitetype as string,\n\t\trts_campusname as string,\n\t\trts_internalname as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tlimit: 3,\n\tentity: 'msft_facility',\n\tformat: 'cdm',\n\tmanifestType: 'manifest',\n\tlocal: true,\n\tfolderPath: 'CMD_test',\n\tfileSystem: 'adhocextract',\n\ttimestampFormats: ['yyyy-MM-dd\\'T\\'HH:mm:ss','yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'','MM/dd/yyyy HH:mm']) ~> source1\nsource1 sink(input(\n\t\tColumn_1 as string,\n\t\tColumn_2 as string,\n\t\tColumn_3 as string,\n\t\tColumn_4 as string,\n\t\tColumn_5 as string,\n\t\tColumn_6 as string,\n\t\tColumn_7 as string,\n\t\tColumn_8 as string,\n\t\tColumn_9 as string,\n\t\tColumn_10 as string,\n\t\tColumn_11 as string,\n\t\tColumn_12 as string,\n\t\tColumn_13 as string,\n\t\tColumn_14 as string,\n\t\tColumn_15 as string,\n\t\tColumn_16 as string,\n\t\tColumn_17 as string,\n\t\tColumn_18 as string,\n\t\tColumn_19 as string,\n\t\tColumn_20 as string,\n\t\tColumn_21 as string,\n\t\tColumn_22 as string,\n\t\tColumn_23 as string,\n\t\tColumn_24 as string,\n\t\tColumn_25 as string,\n\t\tColumn_26 as string,\n\t\tColumn_27 as string,\n\t\tColumn_28 as string,\n\t\tColumn_29 as string,\n\t\tColumn_30 as string,\n\t\tColumn_31 as string,\n\t\tColumn_32 as string,\n\t\tColumn_33 as string,\n\t\tColumn_34 as string,\n\t\tColumn_35 as string,\n\t\tColumn_36 as string,\n\t\tColumn_37 as string,\n\t\tColumn_38 as string,\n\t\tColumn_39 as string,\n\t\tColumn_40 as string,\n\t\tColumn_41 as string,\n\t\tColumn_42 as string,\n\t\tColumn_43 as string,\n\t\tColumn_44 as string,\n\t\tColumn_45 as string,\n\t\tColumn_46 as string,\n\t\tColumn_47 as string,\n\t\tColumn_48 as string,\n\t\tColumn_49 as string,\n\t\tColumn_50 as string,\n\t\tColumn_51 as string,\n\t\tColumn_52 as string,\n\t\tColumn_53 as string,\n\t\tColumn_54 as string,\n\t\tColumn_55 as string,\n\t\tColumn_56 as string,\n\t\tColumn_57 as string,\n\t\tColumn_58 as string,\n\t\tColumn_59 as string,\n\t\tColumn_60 as string,\n\t\tColumn_61 as string,\n\t\tColumn_62 as string,\n\t\tColumn_63 as string,\n\t\tColumn_64 as string,\n\t\tColumn_65 as string,\n\t\tColumn_66 as string,\n\t\tColumn_67 as string,\n\t\tColumn_68 as string,\n\t\tColumn_69 as string,\n\t\tColumn_70 as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		}
	]
}